@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to the Wedding Planner</h1>
<hr>
<div class="row">
    <div class="col-sm">
        <h3>Registration</h3>
        <partial name="RegPartial" />
    </div>
    <div class="col-sm">
        <h3>Login</h3>
        <partial name="LoginPartial" />
    </div>
</div>