@using WeddingPlan.Models
@model LogUser

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="LogEmail"></label>
        <input asp-for="LogEmail" class="form-control" placeholder="Login Email">
    </div>

    <div class="form-group">
        <label asp-for="LogPassword"></label>
        <input asp-for="LogPassword" class="form-control" placeholder="Login password">
    </div>

    <div class="form-group">
        <span asp-validation-for="LogPassword"></span>
        <span asp-validation-for="LogEmail"></span>
    </div>

    <div class="form-group">
        <input class="btn btn-success text-right" type="submit" value="Login">  
    </div>
</form>